body {
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  div#letter, div#letter2 {
    margin: 20px;
    overflow: hidden;
    max-height: 50px; /* Adjust the initial height as per your preference */
    transition: max-height 0.5s ease;
    cursor: pointer;
    border: 2px solid black;
  }

  div#letter2{
    display: none;
  }

  h2#early {
    display: block;
    margin: 20px;
  }

  p#countdown {
    margin: 20px;
    color: blueviolet;
    font-size: 40px;
  }

  img{
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 24px;
    }

    h2#early {
      font-size: 18px;
    }
  
    p#letter {
      margin: 10px;
    }

    p#countdown {
      margin: 10px;
    }
    img{
      width: 100%;
    }
  }
